.chartContainer {
  margin-top:40px;
}

.keyBox {
  border:1px solid #ccc;
  padding:10px 20px;
  position: absolute;
  right:0px;
  top:50px;
  margin:0;
}

.keyBox li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
