.acBox {
  border:1px solid #ccc;
  position: absolute;
  width:100%;
  margin-top:-1px;
  box-sizing: border-box;
  padding:10px;
}

.acBox:empty {
  display: none;
}

.acList {
  list-style-type: none;
  margin:0px;
  padding:0px;
  font-size: 12px;
  line-height: 22px;
}
